body{
    min-height:100vh;
    overflow-x: hidden;
    background-color:rgba(255,255,255,0.);
}
.ff{
    width: 250px;
    margin: 15px;
    
}
img{
    width:100%;
    cursor: pointer;
}
/*.ff img:hover{
    transform: scale(1.2);
    transition:0.5s;
}*/
.ff img{
    transition:2s linear ;
}

.ff:hover img{
      transform:rotateX(180deg);
}
.container{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    grid-gap: 10px;
}
img{
    width:300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}








